@import "../../styles/variables";
@import "../../styles/mixins";

.contact-section {
  width: 100%;
  background: #000a1f;
  padding: 120px 0;

  .contact-container {
    @include container;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .contact-image img {
    width: 540px;
    height: 453px;
    opacity: 0.6;

    @media (max-width: 768px) {
      width: 300px;
      height: auto;
    }
  }

  .contact-form {
    position: relative;
    width: 485px;
    @media (max-width: 900px) {
      width: 95% !important;
    }

    .curve {
      position: absolute;
      width: 70px;
      height: 10px;
      top: -5px;
      left: -15px;
    }

    .contact-bg-text {
      position: absolute;
      top: -51px; /* controls vertical overlap */
      left: -55px;
      font-size: 145px;
      font-weight: 1000;
      color: rgba(255, 255, 255, 0.09); /* faint */
      pointer-events: none; /* not clickable */
      user-select: none;
      line-height: 1;
      z-index: 0;
      @media (max-width: 600px) {
        font-size: 125px;
        left: -30px;
      }
    }

    h2 {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 30px;
      position: relative;
      z-index: 2;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input,
      textarea {
        width: 93%;
        padding: 14px 16px;
        background: #fff;
        border: none;
        border-radius: 6px;
        font-size: 15px;
      }

      textarea {
        height: 100px;
      }

      button {
        background: linear-gradient(90deg, #4c46ff, #0094ff);
        padding: 12px 20px;
        border: none;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        width: 150px;

        @media (max-width: 900px) {
          margin: 0 auto;
        }
      }
    }
  }
}
