@import "../../styles/variables";
@import "../../styles/mixins";

.hero-section {
  @include container;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  //   margin: 0 5vw 0 5vw;
  //   width: 1200px;

  overflow: visible !important;
  // background-color: #000A1F;

  .hero-cloud1 {
    position: absolute;
    top: 22px; /* adjust for perfect placement */
    left: -15%;
    width: 278px; /* good default scaling */
    opacity: 0.7;
    z-index: 1; /* behind text but above grid */
    pointer-events: none;

    animation: cloudFloat 6s ease-in-out infinite;
  }

  /* Cloud behind the character's head */
  .hero-cloud2 {
    position: absolute;
    top: -2%; /* adjust vertically */
    left: 75%; /* adjust horizontally */
    // width: 250px;
    width: 17rem;

    opacity: 0.6; /* lighter to look like it's behind */
    z-index: 0; /* behind character */

    pointer-events: none;
    animation: cloudFloat 6s ease-in-out infinite;
    transform: translate(-50%, -50%);
  }

  /* Cloud below, between bulb and rocket */
  .hero-cloud3 {
    position: absolute;
    bottom: 42%; /* adjust based on your layout */
    left: 35%;
    width: 250px;
    opacity: 0.8;
    z-index: 1; /* above background, below main elements */

    pointer-events: none;
    animation: cloudFloat 6s ease-in-out infinite;
    transform: translateX(-50%);
  }

  /* FLOATING ANIMATION */
  @keyframes cloudFloat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hero-content {
    max-width: 560px;
    margin-top: 15vh;
  }

  .text-bulb {
    font-family: Jost;
    font-weight: 600;
    font-size: 70px;
    line-height: 75px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }

  .bulb {
    position: absolute;
    top: -59px;
    left: 316px;
    width: 200px;
    height: 210px;
  }

  p {
    margin-top: 20px;
    color: $secondary-color;
    font-size: 18px;
    max-width: 420px;
  }
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 99vw;
  height: 350px;
  background: #000a1f;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 320' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M0,256L48,229.3C96,203,192,149,288,160C384,171,480,245,576,256C672,267,768,213,864,192C960,171,1056,181,1152,197.3C1248,213,1344,235,1392,245.3L1440,256L1440,320L0,320Z'/%3E%3C/svg%3E");
  mask-size: cover;
  mask-repeat: no-repeat;
  transform: scaleX(-1);

  z-index: 0;
}

.hero-images {
  position: relative;
  z-index: 2;
  .main-character {
    width: 688px;
    height: 656px;
  }

  .floating {
    position: absolute;
    animation: float 2s ease-in-out infinite;
  }

  .planet {
    bottom: 370px;
    right: -37px;
    width: 100px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    padding: 80px 0;
    text-align: center;
    gap: 60px;
    .hero-cloud2 {
      width: 50% !important;
    }
    .text-bulb {
      font-size: 55px;
      line-height: 60px;
      justify-content: center;
      width: 100%;
    }

    .bulb {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(60%);
      width: 120px;
      height: 120px;
    }

    p {
      margin: 10px auto 0;
    }
  }

  .hero-images {
    .main-character {
      width: 330px !important;
      height: 360px !important;
    }

    .planet {
      right: -10px;
      bottom: 120px;
      width: 60px;
    }
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 60px 0;
    position: relative;
    align-items: center !important;
    .hero-cloud2 {
      width: 25% !important;
    }
    .text-bulb {
      font-size: 32px;
      line-height: 38px;
      width: 75vw !important;
    }

    .bulb {
      position: absolute;
      width: 25vw !important;
      height: 25vw !important;
      left: 225px !important;
      top: -28px !important;
    }

    p {
      font-size: 16px;
      max-width: 90%;
    }
  }

  .hero-content {
    margin-top: 0px !important;
  }

  .hero-images {
    .main-character {
      width: 260px !important;
      height: 290px !important;
    }

    .planet {
      width: 50px;
      right: -5px;
      bottom: 100px;
    }
  }
}

@media (max-width: 420px) {
  .hero-section {
    position: relative;
    align-items: center !important;

    .hero-cloud2 {
      width: 25% !important;
    }
    .text-bulb {
      font-size: 34px !important;
      line-height: 40px !important;
      width: 75vw !important;
    }

    .bulb {
      position: absolute;
      width: 25vw !important;
      height: 25vw !important;
      left: 243px !important;
      top: -24px !important;
      transform: translateX(40%) !important;
    }
  }

  .hero-content {
    margin-top: 0px !important;
  }

  .hero-images {
    .main-character {
      width: 220px !important;
      height: 250px !important;
    }

    .planet {
      width: 40px !important;
    }
  }
}
