@import "../../styles/variables";
@import "../../styles/mixins";

.hero-section {
  @include container;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  position: relative;
//   margin: 0 5vw 0 5vw;
//   width: 1200px;

  .hero-content {
    max-width: 560px;
  }

  .text-bulb {
    font-family: Jost;
    font-weight: 600;
    font-size: 75px;
    line-height: 75px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }

  .bulb {
    position: absolute;
    top: -30px;
    left: 370px;
    width: 140px;
    height: 140px;
  }

  p {
    margin-top: 20px;
    color: $secondary-color;
    font-size: 18px;
    max-width: 420px;
  }
}

.hero-images {
  position: relative;

  .main-character {
    width: 420px;
  }

  .floating {
    position: absolute;
    animation: float 2s ease-in-out infinite;
  }

  .planet {
    bottom: 210px;
    right: -75px;
    width: 80px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    padding: 80px 0;
    text-align: center;
    gap: 60px;

    .text-bulb {
      font-size: 55px;
      line-height: 60px;
      justify-content: center;
      width: 100%;
    }

    .bulb {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(60%);
      width: 120px;
      height: 120px;
    }

    p {
      margin: 10px auto 0;
    }
  }

  .hero-images {
    .main-character {
      width: 330px;
    }

    .planet {
      right: -10px;
      bottom: 120px;
      width: 60px;
    }
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 60px 0;
    position: relative;

    .text-bulb {
      font-size: 32px;
      line-height: 38px;
      width: 75vw !important;
    }

    .bulb {
      position: absolute;
      width: 25vw !important;
      height: 25vw !important;
      left: 225px !important;
      top: -28px !important;
    }

    p {
      font-size: 16px;
      max-width: 90%;
    }
  }

  .hero-images {
    .main-character {
      width: 260px;
    }

    .planet {
      width: 50px;
      right: -5px;
      bottom: 100px;
    }
  }
}

@media (max-width: 420px) {
  .hero-section {
    position: relative;
    .text-bulb {
      font-size: 34px !important;
      line-height: 40px !important;
      width: 75vw !important;
    }

    .bulb {
      position: absolute;
      width: 25vw !important;
      height: 25vw !important;
      left: 243px !important;
      top: -24px !important;
      transform: translateX(40%) !important;
    }
  }

  .hero-images {
    .main-character {
      width: 220px !important;
    }

    .planet {
      width: 40px !important;
    }
  }
}
