.home{
    background-color: #000c2f; // background behind the grid (as you requested)

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);

  background-size: 40px 40px; // grid spacing (adjust if needed)
  z-index: 0;
}