@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  @include container;
  padding: 30px 0;

  display: flex;
  justify-content: space-between;
  //   gap: 2vw;
  align-items: center;
  margin: 0 17vw 0 13vw;

  .logo {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }

  // .nav-links {
  //   list-style: none;
  //   display: flex;
  //   gap: 3.7vw;
  //   color: #fff;

  //   li {
  //     cursor: pointer;
  //     font-size: 16px;
  //   }
  // }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 3vw;
  }

  .nav-links li {
    position: relative;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-links a {
    position: relative;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chevron {
    font-size: 25px;
    width: -0.5vw;

    opacity: 1; /* subtle like Figma */
    transition: 0.2s;
    transform: rotate(90deg);
  }

  .nav-btn.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .nav-btn.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff; // change if needed
    border-radius: 2px;
  }
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100vw;
    margin: 0 2vw 0 2vw;

    .nav-links {
      display: none;
    }

    .nav-btn.hamburger {
      display: flex;
    }
  }
}
