@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  @include container;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    color: #fff;

    li {
      cursor: pointer;
      font-size: 16px;
    }
  }

  .nav-btn.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .nav-btn.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff; // change if needed
    border-radius: 2px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
