@import "../../styles/variables";
@import "../../styles/mixins";

.footer-section {
  background: #000A1F;
  padding: 80px 0 20px;

  .footer-container {
    @include container;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 5px;
    // padding: 0 30px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  h2, h4, p {
    color: #fff;
  }

  .logo{
    margin-top: 25px;
  }
  .social-icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;

    i {
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .newsletter-box {
    display: flex;
    margin-top: 10px;

    input {
      flex: 1;
      padding: 10px;
      border: none;
      border-bottom:1px solid #888;
      background: none;
      color: #fff;
    }

    button {
      padding: 10px 16px;
      background: none;
      border-radius: 0 4px 4px 0;
      border: none;
      border-bottom:1px solid #888;
      color: #fff;
      cursor: pointer;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      input, button {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
  .policy{
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright {
    text-align: center;
    margin-top: 50px;
    color: #888;
  }
  .Privacy{
    margin: 0 10px;
  }
}
